class_name: AcceptanceTester
modules:
    enabled:
        - WebDriver:
            url: http://dev.qy.com/
            browser: firefox
        - Yii2:
            part: orm
            entryScript: index-test.php
            cleanup: false
