html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}
.footer {
    height: auto;
    background-color: #333333;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color:#9d9d9d;
}
.footer ul, .footer ul li{
    list-style:none;
    margin:0;
    padding:0;
}
.footer .row{
    margin-bottom: 20px;
}
.footer .row a{
    color:#9d9d9d;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family:'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    h2,.h2,h3,.h3,h4,.h4{
        font-size:14px
    }
    h5,.h5,h6,.h6{
        font-size:12px
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
@media (min-width: 768px) {
    .navbar-brand {
        float: left;
        padding: 10px 15px;
        font-size: 28px;
        line-height: 45px;
    }
    .navbar-brand img{
        max-width:130px; max-height:45px
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 45px;
        font-size: 16px;
    }
    .dropdown-menu {
        min-width: 108px;
        border-radius: 2px;
        border-top:none;
    }
    .dropdown-menu li a{
        font-size: 15px;
    }
    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        color: inherit;
        line-height: 30px;
    }
    .panel-default{border-top: 5px solid}
}
@media (max-width: 767px) {
    .panel-default {
        border-top: 3px solid
    }
    .navbar-brand img{
        max-width: 120px;
        max-height: 24px;
    }
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    min-height: 260px;
}
/* 自定义样式*/
.panel {
    border-radius: 2px;
}
.thumbnail {
    border-radius: 2px;
}
.input-lg {
    border-radius: 3px;
}
.form-control {
     border-radius: 2px;
}
.breadcrumb {
    border-radius: 2px;
}
.page-header {
    padding-bottom: 9px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
}
.carousel-indicators li
,.carousel-indicators .active{
    width: 30px;
}
/*.nav-link.active:after {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 50%;*/
    /*width: 0;*/
    /*height: 0;*/
    /*margin-left: -.3rem;*/
    /*vertical-align: middle;*/
    /*content: "";*/
    /*border-right: .3rem solid transparent;*/
    /*border-bottom: .3rem solid;*/
    /*border-left: .3rem solid transparent;*/
/*}*/
/** 蓝色主题0099FF*/
.navbar-blue{
    background-color: #408eba;
    border: none;
}
.navbar-blue a {color:#FFF}
.navbar {border-radius: 0;margin-bottom: 0px}
.navbar-blue .nav > li > a:hover,
.navbar-blue .nav > li > a:focus {background-color: #3a80a7;}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form{
    border-color:#3a80a7;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #3a80a7;
}
.navbar-blue .navbar-nav > li > a {
    color: #fff;
}
.navbar-blue .navbar-toggle {
    border-color: #3a80a7;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #3a80a7;
}
.navbar-blue .navbar-brand {
    color: #fff;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #3a80a7;
}
.navbar-blue .dropdown-menu > .active > a,
.navbar-blue .dropdown-menu > .active > a:hover,
.navbar-blue .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #3a80a7;
    outline: 0;
}
@media (max-width: 767px) {
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #3a80a7;
    }
}
/* 红色主题*/
.navbar-red{
    background-color: #db4c3f;
    border: none;
}
.navbar-red a {color:#FFF}
.navbar {border-radius: 0;}
.navbar-red .nav > li > a:hover,
.navbar-red .nav > li > a:focus {background-color: #d53b2d;}
.navbar-red .navbar-collapse,
.navbar-red .navbar-form{
    border-color:#d53b2d;
}
.navbar-red .navbar-nav > .active > a,
.navbar-red .navbar-nav > .active > a:hover,
.navbar-red .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #d53b2d;
}
.navbar-red .navbar-nav > li > a {
    color: #fff;
}
.navbar-red .navbar-toggle {
    border-color: #d53b2d;
}
.navbar-red .navbar-toggle:hover,
.navbar-red .navbar-toggle:focus {
    background-color: #d53b2d;
}
.navbar-red .navbar-brand {
    color: #fff;
}
.navbar-red .navbar-nav > .open > a,
.navbar-red .navbar-nav > .open > a:hover,
.navbar-red .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #d53b2d;
}
.navbar-red .dropdown-menu > .active > a,
.navbar-red .dropdown-menu > .active > a:hover,
.navbar-red .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #d53b2d;
    outline: 0;
}
@media (max-width: 767px) {
    .navbar-red .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-red .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-red .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #d53b2d;
    }
}
/* 黄色主题*/
.navbar-yellow{
    background-color: #f3ad59;
    border: none;
}
.navbar-yellow a {color:#FFF}
.navbar {border-radius: 0;}
.navbar-yellow .nav > li > a:hover,
.navbar-yellow .nav > li > a:focus {background-color: #e78d2d;}
.navbar-yellow .navbar-collapse,
.navbar-yellow .navbar-form{
    border-color:#e78d2d;
}
.navbar-yellow .navbar-nav > .active > a,
.navbar-yellow .navbar-nav > .active > a:hover,
.navbar-yellow .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #e78d2d;
}
.navbar-yellow .navbar-nav > li > a {
    color: #fff;
}
.navbar-yellow .navbar-toggle {
    border-color: #e78d2d;
}
.navbar-yellow .navbar-toggle:hover,
.navbar-yellow .navbar-toggle:focus {
    background-color: #e78d2d;
}
.navbar-yellow .navbar-brand {
    color: #fff;
}
.navbar-yellow .navbar-nav > .open > a,
.navbar-yellow .navbar-nav > .open > a:hover,
.navbar-yellow .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #e78d2d;
}
.navbar-yellow .dropdown-menu > .active > a,
.navbar-yellow .dropdown-menu > .active > a:hover,
.navbar-yellow .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #e78d2d;
    outline: 0;
}
@media (max-width: 767px) {
    .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #e78d2d;
    }
}
/* 绿色主题*/
.navbar-green{
    background-color: #18a55d;
    border: none;
}
.navbar-green a {color:#FFF}
.navbar {border-radius: 0;}
.navbar-green .nav > li > a:hover,
.navbar-green .nav > li > a:focus {background-color: #128c4e;}
.navbar-green .navbar-collapse,
.navbar-green .navbar-form{
    border-color:#128c4e;
}
.navbar-green .navbar-nav > .active > a,
.navbar-green .navbar-nav > .active > a:hover,
.navbar-green .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #128c4e;
}
.navbar-green .navbar-nav > li > a {
    color: #fff;
}
.navbar-green .navbar-toggle {
    border-color: #128c4e;
}
.navbar-green .navbar-toggle:hover,
.navbar-green .navbar-toggle:focus {
    background-color: #128c4e;
}
.navbar-green .navbar-brand {
    color: #fff;
}
.navbar-green .navbar-nav > .open > a,
.navbar-green .navbar-nav > .open > a:hover,
.navbar-green .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #128c4e;
}
.navbar-green .dropdown-menu > .active > a,
.navbar-green .dropdown-menu > .active > a:hover,
.navbar-green .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #128c4e;
    outline: 0;
}
@media (max-width: 767px) {
    .navbar-green .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-green .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-green .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #128c4e;
    }
}
/* 紫色主题*/
.navbar-purple{
    background-color: #605ea6;
    border: none;
}
.navbar-purple a {color:#FFF}
.navbar {border-radius: 0;}
.navbar-purple .nav > li > a:hover,
.navbar-purple .nav > li > a:focus {background-color: #555497;}
.navbar-purple .navbar-collapse,
.navbar-purple .navbar-form{
    border-color:#555497;
}
.navbar-purple .navbar-nav > .active > a,
.navbar-purple .navbar-nav > .active > a:hover,
.navbar-purple .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #555497;
}
.navbar-purple .navbar-nav > li > a {
    color: #fff;
}
.navbar-purple .navbar-toggle {
    border-color: #555497;
}
.navbar-purple .navbar-toggle:hover,
.navbar-purple .navbar-toggle:focus {
    background-color: #555497;
}
.navbar-purple .navbar-brand {
    color: #fff;
}
.navbar-purple .navbar-nav > .open > a,
.navbar-purple .navbar-nav > .open > a:hover,
.navbar-purple .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #555497;
}
.navbar-purple .dropdown-menu > .active > a,
.navbar-purple .dropdown-menu > .active > a:hover,
.navbar-purple .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #555497;
    outline: 0;
}
@media (max-width: 767px) {
    .navbar-purple .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-purple .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-purple .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #555497;
    }
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #E8E6E6;
    }
}
/** 其他样式*/
.panel-yellow{border-top-color:#f19b2c;}
.panel-blue{border-top-color: #408eba;}
.panel-red{border-top-color: #db4c3f;}
.panel-green{border-top-color: #18a55d;}
.panel-purple{border-top-color: #605ea6;}

.table-simple{
    width:100%
}
.table-simple > tbody > tr > th,
.table-simple > tfoot > tr > th,
.table-simple > thead > tr > td,
.table-simple > tbody > tr > td,
.table-simple > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px dashed #ddd;
}
img{
    max-width: 100%;
    height: auto;
}