html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}
.topbar{
    background-color:#fcfcfc;height: 28px;
    line-height: 28px;color:#727272;
    border-bottom:1px solid #ebebeb;
    margin-bottom: 20px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family:'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* 自定义样式*/
.navbar-blue{
    background-color: #0066CC;
    border: none;
}
.navbar-blue a {color:#FFF}
.navbar {border-radius: 0;}
.navbar-blue .nav > li > a:hover,
.navbar-blue .nav > li > a:focus {background-color: #0099FF;}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form{
    border-color:#0099FF;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0099FF;
}
.navbar-blue .navbar-nav > li > a {
    color: #fff;
}
.navbar-blue .navbar-toggle {
    border-color: #0099FF;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #0099FF;
}
.navbar-blue .navbar-brand {
    color: #fff;
}
.table-simple{
    width:100%
}
.table-simple > tbody > tr > th,
.table-simple > tfoot > tr > th,
.table-simple > thead > tr > td,
.table-simple > tbody > tr > td,
.table-simple > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px dashed #ddd;
}